<h1><%= @list.name %></h1>
<p><strong>List ID: </strong><%= @list.id %></p>
<% @bookmarks.each do |bookmark| %>
  <p><strong>Comment: </strong><%= bookmark.comment %></p>
<% end %>
<% @movies.each do |movie| %>
  <p><strong>Movie title: </strong><%= movie.title %></p>
  <p><strong>Movie overview: </strong><%= movie.overview %></p>
  <p><strong>Movie rating: </strong><%= movie.rating %></p>
  <img src="<%= movie.poster_url %>" alt="Movie poster">
<% end %>
